html {
    font-family: Quicksand, sans-serif;
    display:flex;
    flex-direction: column;
    background-color: yellow;
    margin:2%;
    border: 1px solid black;
}
 body {
    display: flex;
    flex-direction: column;
    background-color: red;
    border: 1px solid blue;
    padding: 2%;
} 
a {
    text-decoration:  none;
}
#intro {
    display:flex;
    flex-direction:column;
}
#treeintro {
    display: none;
    flex-direction:column;
}
#tree-modal {
    background-color:blanchedalmond;
    display: none;
    z-index: 1;
    overflow:auto;
    flex-direction:column;
}
#choice-field {
    display:none;
    flex-direction: column;
}
#continue {
    display: flex;
}
#end-demo {
    background-color:blanchedalmond;
    display: none;
    z-index: 1;
    overflow:auto;
    flex-direction:column;
}
.nav {
    position:fixed;
    bottom:0;
    display: flex;
    flex-direction: row;
    width: 90%;
    align-self: flex-end;
    border: 2px solid blue;
    background-color: aqua;
}
.restart {
    position:fixed;
    right: 5%;
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    align-self: flex-end;
}
.event-modal {
    background-color: blanchedalmond;
    display: none;
    z-index: 1;
    overflow:auto;
    flex-direction:column;
}
.status-blurb {
    display:flex;
    flex-direction:column;
}

