html {
    font-family: Quicksand, sans-serif;
    color: #363020;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #82846D;
    padding: 10%;
    height: 100vh;
    width: 60%;
    margin:0px;
    font-size: 1.5em;
}
a {
    text-decoration: none;
    color: #DDFCAD;
}
a :hover {
    font-size: 150%;
}
h1 {
    display: flex;
    justify-content: center;
    font-weight:bold;
}
span {
    color: #91A6FF;
    display: inline;
}
button {
    display: flex;
    justify-content: flex-end;
    font-family: Quicksand, sans-serif;
    color: #DDFCAD;
    background-color: #82846D;
    font-size: 1.2em;
    border: none;
    font-size:2em;
}
#event-modal {
    display: flex;
}
#intro {
    display: flex;
    flex-direction: column;
}
#treeintro {
    display: none;
    flex-direction: column;
}

#tree-modal {
    background-color: #82846D;
    display: none;
    z-index: 1;
    overflow: auto;
    flex-direction: column;
}
#close-modal {
    color: #DDFCAD;
    font-size: 2em;
    justify-content: end;
}
#choice-field {
    display: none;
    flex-direction: column;
}

#continue {
    display: flex;
}

#end-demo {
    background-color: #82846D;
    display: none;
    z-index: 1;
    overflow: auto;
    flex-direction: column;
}

.event-modal {
    background-color: #82846D;
    display: none;
    z-index: 1;
    flex-direction: column;
}.open-modal {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1em;
}
.choicebtn {
    display:flex;
    justify-content: center;
    align-items: center;
}
.status-blurb {
    display: flex;
    flex-direction: column;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.stats {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
    color: #91A6FF;
}
.restart {
    display: flex;
    align-self: flex-end;
}